@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Nerko+One&display=swap');
body{
    background-color: rgb(173, 255, 100);
    background-image: url(../imagen/destiny\ 2\ caza.jpg);
    background-size: bottom;
    background-position: cover;
    font-family: "Handjet", sans-serif;
}
h1{
    font-family: "Nerko One", cursive;
}

a{
    font-family: "Nerko One", cursive;
    font-weight: 500;
    font-size: 50px;
    text-decoration: none;
}

img{
    width: 500px;
    height: auto;
}

div{
    width: 500px;
    height: 50px;
    background-color: green;
}

b{
    font-family: "Nerko One", cursive;
}