.Sobrepuesto{
    color: white;
    position: absolute;
    top: 20%;
    right: 42%;
}
#perfil1{
    color: red; 
}
#perfil2{
    color: red; 
}
#perfil3{
    color: red; 
}
#perfil4{
    color: red; 
}
#perfil5{
    color: red; 
}
